:root {
    --cardTitleColor: white;
    --cardBGColor: rgb(120,120,120);
    --mainTextColor: black;
    --blogCardHeight:200px;
    --blogCardWidth:150px;
    --bodyMaxWidth:800px;
    --modalImageSize:500px;
}
body{
    max-width: var(--bodyMaxWidth);
    margin: 0 auto;
}
.hideThis{display:none;}
header a{
    text-decoration:none;
    color: var(--mainTextColor);
}
.contain-image{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
#main-content{
  margin: 10px;
}
#loadMoreButton{
  padding: 10px;
  margin: 0;
}
.blog-image{
  height: 200px;
  width: 200px;
}
#modal-background{
  position: fixed;
  top:0px;
  left: 0px;
  width:100vw;
  height:100vh;
  display: block;
  background-color: grey;
  opacity: 0.4;
}
#modal .blog-image{
  height: var(--modalImageSize);
  width: var(--modalImageSize);
  position: fixed;
  left: calc(50vw - var(--modalImageSize)/2);
  top:calc(50vh - var(--modalImageSize)/2);
  opacity:1;
}
#modal.hide-modal{
  display: none;
}
header a.active{
  text-decoration:underline;
}
#contactPage{
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}
#contactPage .gridArea{
  display: grid; 
  gap:10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'grid1 grid2'
  'grid3 .'
  'grid4 grid4';
}
#contactPage .label-text{
  margin: 5px 0;
}
.message{
  font-size: 0.7rem;
  color: orange;
}
.rough .message{
  color: rgb(200,0,0);
}
.link-logo{
  height: 50px;
}
.info-page{
  min-height: 200px;
}
